.apexcharts-legend {
  justify-content: flex-end!important;
}

.audit {
  .chart {
    max-width: 100%;
  }
  .apexcharts-canvas {
    height: auto!important;
  } 
  .diagram {
    // max-width: 800px;
    position: relative;
    margin-bottom: 50px;
    &__title {
      margin-bottom: 30px;
    }
    &-3 {
      max-width: 100%;
    }
  }
  .total {
    position: absolute;
    top: 0;
    left: 36%;
    display: flex;
    &__block {
      margin-right: 50px;
    }
    p {
      font-size: 60px;
      margin-bottom: 0;
    }
  }
  .apexcharts-legend {
    display: block!important;
    top: 120px!important;
    height: calc(100% - 120px)!important;
    bottom: auto!important;
    .apexcharts-legend-marker {
      flex: none
    }
  }
  .position-right {
    max-width: 65%;
    width: 65%;
  }
  .position-bottom {
    justify-content: flex-start!important;
  }
}

svg:not(:root) {
  overflow: visible!important;
}