.buildings {
  &__filter {
    display: flex;
    align-items: center;
  }
  .dropdown-link {
    position: relative;
    display: inline-block;
    margin-right: 60px;
    text-decoration: underline;
    text-decoration-style: dotted;
    &:after {
      position: absolute;
      content: "";
      top: calc(50% - 3px);
      right: -10px;
      width: 5px;
      height: 5px;
      border: 1px solid #000;
      transform: rotate(45deg);
      border-top: none;
      border-left: none;
    }
  }
  .dropdown-menu-custom {
    border-radius: 0;
    border: none;
    padding: 0;
    overflow: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 500px;
  }
  &__object {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-block {
      flex-basis: 35%;
      background: #3498DB;
      padding: 15px 0 15px 20px;
      h4 {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 0;
      }
      a {
        color: #fff;
        text-decoration-style: dotted;
      }
    }
    .right-block {
      padding-right: 20px;
      flex-basis: 65%;
      text-align: right;
      background: #2D3F50;
      padding: 15px 20px 15px;
      color: #fff;
    }
  }
  &__content {
    display: flex;
  }
  &__info {
    flex-basis: 35%;
    padding-right: 5px;
    label.checkbox-input {
      border-bottom: none;
      padding-top: 7px;
      padding-bottom: 7px;
      span {
        &:before {
          top: 18px;
        }
        &:after {
          top: 14px;
        }
      }
    }
  }
  &__search-result {
    .search-result-filter {
      margin-bottom: 25px;
      padding: 15px 10px;
      background: #EDEFF0;
      display: flex;
      flex-wrap: wrap;
      label.checkbox-input {
        border-bottom: none;
        margin-right: 30px;
      }
    }
  }
  &__img {
    flex-basis: 65%;
    background-repeat: no-repeat;
    background-position: 50 50%;
    background-size: cover;
  }
  .build {
    margin-bottom: 20px;
    &__img {
      height: 220px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    &__info {
      padding: 20px;
      background-color: #fff;
    }
    &__text {
      display: table;
    }
    &__text-row {
      display: table-row;
      h4, span {
        padding-bottom: 10px;
        display: table-cell;
      }
      span {
        padding-left: 10px;
      }
    }
    .btn {
      margin-top: 20px;
      width: 100%;
      color: #fff;
      background: #3498DB;
      border-radius: 3px;
    }
  }
}

label.checkbox-input {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 13px 20px 13px 47px;
  user-select: none;
  margin-bottom: 0;
  border-bottom: 1px solid #E5E5E5;
  &:last-child {
    margin-bottom: 0;
  }

  span:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 20px;
    // transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #2C3E50;
    background-color: #fff;
    transition: .3s;
  }

  span:after {
    position: absolute;
    content: "";
    top: 20px;
    left: 23px;
    width: 13px;
    height: 13px;
    background-image: url(../svg/check-input.svg);
    background-repeat: no-repeat;
    opacity: 0;
    transition: .3s;
  }

  input:checked + span:before {
    background-color: #3498DB;
    border-color: #3498DB
  }
  input:checked + span:after {
    opacity: 1;
  }
}