.main-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  &__item {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    // align-items: center;
    padding: 30px 20px 20px 25px;
    flex-basis: 31%;
    background-color: #fff;
    transition: .3s;
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1)
    }
  }
  &__wrap-img {
    flex: none;
    margin-right: 20px;
  }
  &__text {
    p {
      color: #000;
      margin-bottom: 0;
      span {
        font-weight: bold;
        display: block;
      }
    }
  }
}