@media (max-width: 1199px) {
  .buildings {
    &__header {
      .left-block {
        flex-basis: 40%;
      }
    }
    &__info {
      flex-basis: 40%;
    }
  }
}

@media (max-width: 991px) {
  .main-actions {
    display: block;
    &__item {
      justify-content: flex-start;
      margin-bottom: 15px;
    }
  }
  .banners {
    &__slider {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      flex-basis: 49%;
    }
  }
  .buildings {
    &__header {
      .left-block {
        flex-basis: 65%;
      }
      .right-block {
        flex-basis: 35%;
      }
    }
    &__content {
      display: block;
    }
    &__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      label.checkbox-input {
        flex-basis: 46%;
      }
    }
    .build {
      .btn {
        font-size: 12px;
      }
      &__text-row {
        span,
        h4 {
          font-size: 12px;
        }
      }
    }
  }
  .audit {
    .total {
      display: block;
      left: auto;
      right: 0;
    }
    .apexcharts-legend {
      top: 190px!important;
      height: calc(100% - 190px)!important;
      max-width: 90%;
    }
    .apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series {
      align-items: flex-start!important
    }
  }
}

@media (max-width: 767px) {
  .banners {
    &__item {
      flex-basis: 100%;
    }
  }
  .buildings {
    &__search-result {
      .search-result-filter {
        .btn {
          margin-left: 20px;
          flex-basis: 100%;
        }
      }
    }
    &__filter {
      flex-wrap: wrap;
      .btn {
        margin-top: 15px;
        flex-basis: 100%;
      }
    }
    &__header {
      .left-block {
        flex-basis: 100%;
      }
      .right-block {
        display: none;
      }
    }
    &__info {
      label.checkbox-input {
        flex-basis: 100%;
      }
    }
    .build {
      &__text-row {
        display: block;
        margin-bottom: 15px;
        h4 {
          margin-bottom: 0px;
        }
        h4,
        span {
          display: block;
          padding-left: 0;
        }
      }
    }
  }
  .object-detail {
    &__gallery {
      .fotorama__nav-wrap {
        display: none;
      }
    }
    &__text,
    &__text-row {
      display: block;
    }
    &__text-row {
      margin-bottom: 15px;
      h4,
      span {
        display: block;
        padding-left: 0;
      }
      h4 {
        margin-bottom: 0;
      }
    }
  }
  .audit {
    .diagram {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .total {
      display: flex;
      position: static;
      text-align: center;
      justify-content: center;
      flex-basis: 100%;
      &__block {
        margin-right: 10px;
      }
      p {
        font-size: 40px;
      }
    }
  }
  .apexcharts-legend {
    justify-content: center!important;
  }
}

@media (max-width: 567px) {
  .main-actions {
    &__item {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .apexcharts-graphical {
    height: 300px!important;
  }
}