.news-main {
  &__item {
    height: 590px;
    position: relative;
  }
  &__wrap {
    &-img {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 590px;
      position: relative;
      background-image: url("https://www.ksp-vrn.ru/upload/iblock/156/0y6hnxrhyfex35hgu4908wkxc8myh9k7/l2wshxa6iw4li74jc778a0ke592uxmsq.jpg");
    }
    &-text {
      background-color: hsla(0,0%,100%,.8);
      bottom: 0;
      left: 0;
      padding: 18px 24px;
      position: absolute;
      width: 100%;
    }
  }
  &__title {
    margin-top: 0;
    color: #333;
    font-size: .875rem;
    margin-bottom: 20px;
  }
  &__footer {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__date {
    background-color: #eb5757;
    color: #fff;
    font-size: .875rem;
    padding: 3px 7px;
  }
  .more-link {
    color: #2c3e50;
    font-size: .875rem;
    text-decoration: none;
    transition: color .15s ease-out;
    &__icon {
      display: inline-block;
      fill: #2c3e50;
      height: 8px;
      margin: -2px 0 0 8px;
      transition: fill .15s ease-out;
      vertical-align: middle;
      width: 16px;
      overflow: hidden;
    }
  }

  .slick-dots {
    bottom: 0;
    li {
      width: 10px;
      height: 10px;
      background: rgba(52, 152, 219, 0.5);
      border: 1px solid #FFFFFF;
      border-radius: 100%;
      transition: .3s;
      &.slick-active {
        background: #3499DB;
      }
      button {
        display: none;
      }
    }
  }
}