.object-detail {
  &__gallery {
    width: 100%;
  }
  &__text {
    margin-top: 35px;
    display: table;
  }
  &__text-row {
    display: table-row;
    h4 {
      width: 35%;
    }
    h4, span {
      padding-bottom: 10px;
      display: table-cell;
    }
    span {
      padding-left: 10px;
    }
  }
}