.slick-slide {
  a:focus,
  &:focus {
    outline: none
  }
}

@import "fotorama";
@import "slick";
@import "slick-theme";

.slider-btn {
  width: 48px;
  height: 48px;
  background: rgba(52, 152, 219, 0.5);
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 1;
  transition: .3s;
  &:focus {
    outline: none
  }
  &:hover {
    background: #3499DB;
  }
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

@import "style.min";
@import "news-main";
@import "main-actions";
@import "buildings";
@import "object-build";
@import "audit";
@import "media";